<ion-content>
  <ion-grid>

    <ion-row  style="background-color: rgb(255, 255, 255); border-radius:20px; "> 
      <ion-col>
        <ion-img src="../assets/icon/logo_kkh.jpg" style="width:200px;height: 200px; margin-left: 40%;"></ion-img>
      </ion-col>
      <ion-col size="6">
        <h1 style="color: rgb(55, 46, 170); font-size: 50px; text-align: center;">หมายเลขรับยา</h1>
        <h2 style="color: rgb(0, 0, 0); font-size: 30px; text-align: center;">{{day}}&nbsp;{{days}}&nbsp;{{month}}&nbsp;เวลา&nbsp;{{ time }}</h2>
      </ion-col>
      <ion-col>
        <ion-img src="../assets/icon/logo_p_kkh.jpg" style="width:150px; height: 200px; "></ion-img>     
      </ion-col>
    </ion-row>
    
  
    <ion-row>
  
      <ion-col >
        <ion-card style="color: white;  text-align: center; width: auto; height:450px;border-radius:20px;background-color:{{color1}}">
          <h1 style="font-size: 50px;  font-family: 'Prompt', sans-serif;">ช่องที่1</h1> 
           <h1 style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px; font-size:85px;color:{{fontcolor}}; background-color: {{boxcolor}};">{{ch1}}</h1>
         
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="color: white;  text-align: center; width: auto; height:450px;border-radius:20px;background-color:{{color2}}">
               <h1 style="font-size: 50px;  font-family: 'Prompt', sans-serif;">ช่องที่2</h1> 
               <h2  style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px; font-size:85px;color:{{fontcolor}}; background-color: {{boxcolor}};">{{ch2}}</h2>
        </ion-card>
      </ion-col>
      <ion-col >
       <ion-card style="color: white;  text-align: center; width: auto; height:450px;border-radius:20px;background-color: {{color3}}">
         <h1 style="font-size: 50px; font-family: 'Prompt', sans-serif;">ช่องที่3</h1>
        <h2  style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;font-size:85px;color:{{fontcolor}}; background-color: {{boxcolor}};">{{ch3}}</h2>
       </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="color: white; text-align: center; width: auto; height:450px; border-radius:20px;background-color:{{color4}}">
          <h1 style="font-size: 50px; font-family: 'Prompt', sans-serif;">ช่องที่4</h1>
         <h2  style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;font-size:85px;color:{{fontcolor}}; background-color: {{boxcolor}};">{{ch4}}</h2>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="color: white; text-align: center;width: auto; height:450px; border-radius:20px;background-color:{{color5}}">
          <h1 style="font-size: 50px; font-family: 'Prompt', sans-serif;">ช่องที่5</h1>
             <h2  style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;font-size:85px;color:{{fontcolor}}; background-color: {{boxcolor}};">{{ch5}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content> 
  