
<ion-content>
  <ion-grid>
    <ion-row class="m-2" style="background-color: rgb(255, 255, 255); border-radius: 5px;">
      <ion-col style="display: flex; justify-content: center;">
        <ion-img src="../assets/icon/sk03.png" style="width:40%;; height: 170px;"></ion-img>
      </ion-col>
      <ion-col size="7" style="align-self: center; text-align: center;">
        <span style="color: rgb(55, 46, 170); font-size: 55px; text-align: center;">หมายเลขรับยา%</span>
        <br>
        <span style="color: rgb(0, 0, 0); font-size: 31px; text-align: center;">{{ day }} {{ days }} {{ month }} {{ year
          }} เวลา {{ time }} น.</span>
      </ion-col>
      <ion-col style="display: flex; justify-content: center;">
        <ion-img src="../assets/icon/sk03.png" style="width:40%; height: 170px;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="m-2 text-center" style="color: rgb(255, 255, 255); font-size: 45px;">
      <marquee width="100%" direction="left">{{ new }}</marquee>
    </ion-row>
    <ion-row>
      <ion-col class="cw">
        <ion-card class="card-left card-blue">
          <h1 class="H1ch">ช่องที่7</h1>
          <h2 class="H2ch"
            style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px; color: {{fontcolor}}; background-color: {{boxcolor}};"
            [innerHTML]="ch5">
          </h2>
        </ion-card>
      </ion-col>
      <ion-col class="cw">
        <ion-card class="card-center card-blue">
          <h1 class="H1ch">ช่องที่6</h1>
          <h2 class="H2ch"
            style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;color:{{fontcolor}}; background-color: {{boxcolor}};"
            [innerHTML]="ch4">
          </h2>
        </ion-card>
      </ion-col>
      <ion-col class="cw">
        <ion-card class="card-center card-green">
          <h1 class="H1ch">ช่องที่5</h1>
          <h2 class="H2ch"
            style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;color:{{fontcolor}}; background-color: {{boxcolor}};"
            [innerHTML]="ch3">
          </h2>
        </ion-card>
      </ion-col>
      <ion-col class="cw">
        <ion-card class="card-center card-green">
          <h1 class="H1ch">ช่องที่4</h1>
          <h2 class="H2ch"
            style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;color:{{fontcolor}}; background-color: {{boxcolor}};"
            [innerHTML]="ch2">
          </h2>
        </ion-card>
      </ion-col>
      <ion-col class="cw">
        <ion-card class="card-center card-green">
          <h1 class="H1ch">ช่องที่3</h1>
          <h2 class="H2ch"
            style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;color:{{fontcolor}}; background-color: {{boxcolor}};"
            [innerHTML]="ch1">
          </h2>
        </ion-card>
      </ion-col>
      <ion-col class="cw">
        <ion-card class="card-right card-yellow">
          <h1 class="H1ch">ช่องที่2</h1>
          <h2 class="H2ch"
            style="font-weight:bold; margin-top: 1%; margin-left: 10%; margin-right: 10%; border-radius: 15px;color:{{fontcolor}}; background-color: {{boxcolor}};"
            [innerHTML]="ch0">
          </h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>